.about-project__container {
  display: flex;
  @include to(992px) {
    flex-direction: column;
  }
}
.about-project__text {
  width: 50%;
  border-right: 1px solid #292935;
  @include to(992px) {
    width: 100%;
  }
  .about-project__title {
    border-bottom: 1px solid #292935;
    padding-left: var(--padding);
    @include to(992px) {
      border-bottom: none;
    }
  }
  .breadcrumbs {
    margin-left: 0;
  }
  h1 {
    @include main-text-b($text-dark);
    @include title-after($text-dark);
    position: relative;
    margin-bottom: 72px;
    @include to(1440px) {
      margin-bottom: 52px;
    }
    &::after {
      left: 16px;
    }
  }
  .project-img {
    display: none;
    @include to(992px) {
      display: block;
      width: 54%;
      margin: 0 auto;
    }
  }
  .text {
    width: 100%;
    padding: 50px 0 184px var(--padding);
    border-bottom: 1px solid #292935;
    @include to(1440px) {
      padding: 30px 0 68px var(--padding);
    }
    @include to(992px) {
      padding: 30px vw(88, 744) 60px vw(88, 744);
    }
  }
  p {
    @include main-text-s(#292935);
    width: 52.2%;
    @include to(1440px) {
      width: 62%;
    }
    @include to(992px) {
      width: 100%;
    }
  }
  .specification-item {
    width: calc(100% / 3);
    border-right: 1px solid #292935;
    &:last-child {
      border-right: none;
    }
  }
}
.specification-list {
  display: flex;
}
.specification-item {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include to(1440px) {
    padding: 30px 0;
  }
  .num {
    @include main-text-b($text-dark);
    @include title-after($text-dark);
    position: relative;
    margin-bottom: 40px;
    @include to(1440px) {
      margin-bottom: 15px;
      &::after {
        bottom: -10px;
      }
    }
  }
  p {
    @include main-text-s(#292935);
    text-align: center;
  }
}
.about-project__img {
  width: 50%;
  padding: calc(var(--header-h) + 50px) 113px 50px 113px;
  @include to(992px) {
    display: none;
  }
  .project-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
.bottom-container {
  .about-project__img {
    padding: 112px 70px 110px var(--padding);
    border-right: 1px solid #292935;
    @include to(1440px) {
      padding: 65px vw(80, 1440) 65px var(--padding);
    }
    @include to(992px) {
      display: block;
      width: 100%;
      border-right: none;
      padding: 80px 0 30px 0;
      .project-img {
        margin: 0 auto;
        width: 54%;
      }
    }
  }
  .about-project__text {
    .text {
      padding: 131px 0;
      display: flex;
      justify-content: center;
      @include to(1440px) {
        padding: 60px 0;
      }
      @include to(992px) {
        padding: 0 vw(88, 744) 60px vw(88, 744);
      }
    }
  }
  .specification-item {
    width: calc(100% / 2);
  }
  .text-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 0;
    border-top: 1px solid #292935;
    @include to(1440px) {
      padding: 70px 0;
    }
    @include to(992px) {
      padding: 60px vw(88, 744) 120px;
      align-items: flex-start;
      p {
        width: 65%;
      }
    }
    h4 {
      @include main-text-m;
      position: relative;
      @include title-after(#292935);
      margin-bottom: 42px;
      width: 52.2%;
      @include to(1440px) {
        width: 62%;
        margin-bottom: 30px;
      }
      @include to(992px) {
        margin-bottom: 20px;
      }
      &::after {
        left: 16px;
        @include to(1440px) {
          bottom: -15px;
        }
      }
    }
  }
}
