#awards-page {
  padding: 0 var(--padding) 160px var(--padding);
  @include to(1440px) {
    padding: 0 var(--padding) 100px var(--padding);
  }
  @include to(992px) {
    padding: 0 0 120px 0;
  }
  @include to(575px) {
    padding: 0 0 128px 0;
  }
  h1 {
    @include main-text-b($text-dark);
    @include title-after($text-dark);
    position: relative;
    margin-bottom: 20px;
    &::after {
      left: 16px;
      @include to(992px) {
        left: calc(var(--padding) + 16px);
      }
    }
    @include to(992px) {
      padding: 0 var(--padding);
    }
    @include to(575px) {
      font-size: 36px;
      margin-bottom: 32px;
      &::after {
        bottom: -15px;
      }
    }
  }
}
.awards-container {
  display: flex;
  justify-content: space-between;
  @include to(992px) {
    flex-direction: column;
  }
  &__text {
    width: 26%;
    padding-top: 52px;
    @include to(1440px) {
      padding-top: 30px;
    }
    @include to(992px) {
      width: 100%;
      padding: 30px vw(88, 744) 0;
    }
    @include to(575px) {
      padding: 0 var(--padding) 0;
    }
    p {
      @include main-text-s($black);
    }
    svg {
      width: 268px;
      height: 67px;
      margin-top: 50px;
      @include to(1440px) {
        width: 194px;
        height: 49px;
        margin-top: 30px;
      }
      @include to(575px) {
        width: 156px;
        height: 39px;
        margin-top: 10px;
      }
    }
  }
  &__swiper {
    width: 68%;
    padding-left: 80px;
    position: relative;
    @include to(1440px) {
      padding-left: 62px;
    }
    @include to(992px) {
      width: 100%;
      padding-left: vw(88, 744);
    }
    @include to(575px) {
      padding: 0 var(--pad-h);
    }
  }
}
.awards-swiper {
  overflow: hidden;
  padding-top: 52px;
  @include to(992px) {
    padding-top: 80px;
  }
  .swiper-slide {
    border: 1px solid #292935;
    background-image: url('../images/patern-drops.png');
    // background-position: center;
    background-repeat: no-repeat;
    background-image: cover;
    padding: 70px 90px 40px 90px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include to(1440px) {
      padding: 50px 65px 30px 65px;
    }
    @include to(992px) {
      padding: 70px 89px 38px 89px;
    }
    @include to(575px) {
      padding: 40px 57px;
    }
    &::before {
      content: '';
      display: inline-block;
      background-image: url('../images/delimiter.svg');
      background-position: center;
      background-repeat: no-repeat;
      width: 79px;
      height: 79px;
      position: absolute;
      top: -39px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 20;
      @include to(1440px) {
        width: 50px;
        height: 50px;
        top: -25px;
        background-size: contain;
      }
      @include to(992px) {
        width: 79px;
        height: 79px;
        top: -39px;
      }
      @include to(575px) {
        width: 50px;
        height: 50px;
        top: -25px;
      }
    }
    &__img {
      width: 312px;
      height: 396px;
      margin-bottom: 42px;
      @include to(1440px) {
        width: 225px;
        height: 284px;
        margin-bottom: 28px;
      }
      @include to(992px) {
        width: 312px;
        height: 396px;
        margin-bottom: 42px;
      }
      @include to(575px) {
        width: 216px;
        height: 274px;
        margin-bottom: 22px;
      }
      img {
        object-fit: fill;
      }
    }
    p {
      @include main-text-s($black);
      text-align: center;
      position: relative;
      @include to(1440px) {
        font-size: 14px;
      }
      @include to(992px) {
        font-size: 18px;
      }
      @include to(575px) {
        font-size: 14px;
      }
      &::after {
        content: '';
        display: inline-block;
        width: 20px;
        height: 2px;
        background: $black;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }
}
.awards-btn-prev,
.awards-btn-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  @include to(575px) {
    bottom: -50px;
    top: auto;
  }
  &:hover {
    @include from(992px) {
      svg {
        stroke: #2c2e65;
      }
    }
  }
  svg {
    stroke: #292935;
    width: 20px;
    height: 20px;
    @include to(575px) {
      width: 18px;
      height: 18px;
    }
  }
}
.awards-btn-prev {
  left: 0;
  @include to(992px) {
    left: var(--padding);
  }
  @include to(575px) {
    left: 128px;
  }
}
.awards-btn-next {
  right: -70px;
  @include to(1440px) {
    right: -55px;
  }
  @include to(992px) {
    right: var(--padding);
    z-index: 2;
  }
  @include to(575px) {
    right: 128px;
  }
}
