#contacts-page {
  h4 {
    @include main-text-m;
    margin-bottom: 30px;
    @include to(1440px) {
      margin-bottom: 20px;
    }
    @include to(992px) {
      text-align: left;
      margin-bottom: 20px;
    }
  }
  .contacts {
    padding-bottom: 140px;
    margin-left: var(--padding);
    margin-right: var(--padding);
    margin-bottom: 0;
    border-bottom: 1px solid #292935;
    @include to(1440px) {
      padding-bottom: 100px;
    }
    @include to(992px) {
      margin-left: 0;
      margin-right: 0;
      padding-bottom: 0;
    }
    &__description {
      justify-content: space-between;
    }
  }
  .contacts__hover {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    @include to(992px) {
      padding-top: calc(var(--header-h) + 30px);
      padding-left: var(--padding);
    }

    .letter {
      top: 40px;
      left: 0;
      @include to(992px) {
        display: none;
      }
    }
    .letter-hover {
      top: 40px;
      left: 0;
      @include to(992px) {
        display: none;
      }
    }
    .container-eye {
      top: calc(50% + 40px);
      @include to(992px) {
        display: none;
      }
    }
  }
  .breadcrumbs {
    margin: 0;
  }
  .contacts__text {
    padding-top: 40px;
    padding-right: 0;
    @include to(992px) {
      padding: 15px var(--padding) 120px var(--padding);
    }
  }
  .button {
    margin: 10px 0 45px 0;
    @include to(992px) {
      margin-bottom: 30px;
    }
  }
  .contacts__map {
    margin-top: 0;
    border-top: none;
    padding-bottom: 200px;
    justify-content: space-between;
    @include to(1440px) {
      padding-top: 80px;
      padding-bottom: 120px;
    }
    @include to(992px) {
      padding-top: 120px;
    }
    .map {
      width: 49%;
      @include to(992px) {
        width: 100%;
        height: 500px;
        padding-bottom: 60px;
      }
    }
    .form {
      width: 49%;
      @include to(992px) {
        width: 100%;
        padding: 0 var(--padding);
      }
    }
  }
  .map-container {
    height: -webkit-fill-available;
  }
}
.manager {
  padding: 100px 0;
  margin: 0 var(--padding);
  border-bottom: 1px solid #292935;
  @include to(1440px) {
    padding: 80px 0;
  }
  @include to(992px) {
    padding: 120px 0 90px 0;
  }
  h4 {
    text-align: center;
  }
}
.manager__list {
  display: flex;
  justify-content: space-between;
  @include to(992px) {
    flex-wrap: wrap;
  }
}
.manager__item {
  width: 23.6%;
  position: relative;
  @include to(992px) {
    width: 48%;
    margin-bottom: 30px;
  }
}
.manager__img {
  height: 600px;
  @include to(1440px) {
    height: 430px;
  }
}
.manager__name {
  width: 150px;
  height: 46px;
  position: absolute;
  bottom: 0;
  right: 0;
  @include to(1440px) {
    width: 115px;
    height: 35px;
  }
  .container {
    width: 100%;
    height: 100%;
    background: #008b64;
    padding: 13px 17px;
    position: relative;
    @include to(1440px) {
      padding: 10px 14px;
    }
    &::before {
      content: '';
      display: inline-block;
      background-image: url('../images/h-white.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 45px;
      height: 100%;
      position: absolute;
      left: -45px;
      top: 0;
      @include to(992px) {
        width: 34px;
        left: -34px;
      }
    }
  }
  p {
    font-weight: 500;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @include to(1440px) {
      font-size: 14px;
    }
  }
}
.contact-form {
  background-image: url('../images/menu-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px vw(110, 1920);
  @include to(1440px) {
    padding: 110px vw(110, 1920);
  }
  @include to(992px) {
    padding: vw(118, 744);
  }
  label {
    @include menu-text-s;
    font-weight: 500;
    color: #2c2e65;
    margin-bottom: 12px;
    @include to(1440px) {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  input {
    width: 100%;
    height: 70px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    padding-left: 30px;
    @include to(1440px) {
      padding-left: 20px;
      height: 50px;
    }
    &::placeholder {
      @include menu-text-s;
      text-transform: none;
      text-align: left;
      @include to(1440px) {
        font-size: 16px;
      }
    }
  }

  .form-field-input {
    height: auto;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
    position: relative;
    @include to(1440px) {
      margin-bottom: 30px;
    }
  }
  &__btn {
    @include btn;
    // @include btn-js-after;
    @include to(1440px) {
      width: 240px;
    }
  }
}
