.form-header-call.js-call-mobile(style="display: none;")
  ul
    li
      a(href='tel:+380443563777') Виклик +38 (044) 222 99 70
    li
      a(href='tel:+380443563777') Виклик +38 (067) 313 55 29
    li 
      button.js-mobile-form Зворотній дзвінок
    li.cancel.js-mobile-close Відмінити
