footer.footer
  .footer-container
    +svg('logo-nice')
    .footer-container__text Сучасний житловий комплекс класу КОМФОРТ+ від забудовника Nice Development в Дніпровському районі м. Києва
    .btn-up.js-btn-up
      +svg('arrow-up')
  .footer-dev
    .footer-dev__text © 2021 ЖК Hello House. Всі права захищені.
    a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link 
      +svg('smart-orange')
