header.header
    .header__left
        a(href='index.html').header__logo
            +svg('logo')
    .header__right
        .header__build-medal 
            img(src="assets/images/build2021.jpg")
            +svg('build-medal')
        a(href="#").header__link Новини та акції
        include ../components/lang/lang.pug
        a(href='tel:+38 0442229970').header__link-call +38 (044) 222 99 70
        a(href='#').header__link-realty.js-button
            span Обрати квартиру
        .burger(data-open-menu)
            span.burger__name Меню
            .burger__icon
                <svg width="15" height="9" viewBox="0 0 15 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 1.5H15"  stroke-width="2"/>
                    <path d="M0 7.5H15"  stroke-width="2"/>
                </svg>




    