.menu-wrap(data-menu data-disable-page-scroll)
  .menu
    .menu__top
      a(href='index.html').header__logo
        +svg('logo')
      .menu__right
        <svg class="menu__call js-mobile-call" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="24.5" fill="white" stroke="#292935"/>
            <path d="M33.9994 29.4765V32.1862C34.0005 32.4377 33.9488 32.6867 33.8479 32.9172C33.7469 33.1477 33.5988 33.3546 33.413 33.5247C33.2273 33.6947 33.008 33.8242 32.7693 33.9048C32.5305 33.9854 32.2775 34.0153 32.0265 33.9927C29.2415 33.6907 26.5664 32.7409 24.216 31.2197C22.0293 29.8329 20.1753 27.9827 18.7858 25.8003C17.2563 23.4439 16.3044 20.7611 16.0073 17.9692C15.9847 17.7194 16.0145 17.4676 16.0947 17.23C16.1749 16.9923 16.3038 16.7739 16.4732 16.5887C16.6426 16.4034 16.8489 16.2554 17.0787 16.1541C17.3086 16.0528 17.5571 16.0003 17.8084 16.0001H20.5235C20.9627 15.9958 21.3885 16.151 21.7215 16.4368C22.0545 16.7227 22.2721 17.1196 22.3335 17.5537C22.4481 18.4208 22.6607 19.2723 22.9671 20.0918C23.0888 20.4151 23.1152 20.7664 23.043 21.1042C22.9708 21.442 22.8031 21.752 22.5598 21.9976L21.4104 23.1447C22.6988 25.406 24.5748 27.2784 26.8406 28.5642L27.99 27.4171C28.2361 27.1742 28.5467 27.0069 28.8852 26.9348C29.2236 26.8628 29.5757 26.8891 29.8996 27.0106C30.7207 27.3164 31.5739 27.5285 32.4428 27.6429C32.8824 27.7048 33.2839 27.9258 33.5709 28.2639C33.858 28.6019 34.0105 29.0335 33.9994 29.4765Z" stroke="#2C2E65" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        .burger(data-close-menu)
          span.burger__name Меню
          .burger__icon
            //- <svg width="65" height="65" viewBox="0 0 65 65" fill="none" xmlns="http://www.w3.org/2000/svg">
            //-   <circle cx="32.5" cy="32.5" r="32.5" fill="#292935"/>
            //-   <path d="M40 40L26 26M26 40L40 26L26 40Z" stroke="white" stroke-width="1.5"/>
            //- </svg>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="white" stroke-width="1.5"/>
            </svg>


    .menu__section
      .menu__section-main
        ul.section-main__list
          li.section-main__item
            a(href="index.html" data-animation1 data-text="Головна") 
              span Головна
          li.section-main__item
            a(href="#" data-animation1 data-text="Обрати квартиру") 
              span Обрати квартиру
          li.section-main__item
            a(href="commercial.html" data-animation1 data-text="Комерційна нерухомість")
              span Комерційна нерухомість
          li.section-main__item.margin-item
            h4(data-animation1) Про КОМПЛЕКС
            ul.secondary-list
              li.secondary-item
                a(href="about-project.html" data-animation2 data-text="Про проєкт")
                  span Про проєкт
              li.secondary-item 
                a(href="3d-tour.html" data-animation2 data-text="3D тур")
                  span 3D тур
              li.secondary-item 
                a(href="gallery.html" data-animation3  data-text="Галерея")
                  span Галерея
              li.secondary-item 
                a(href="prices.html" data-animation2 data-text="Цiни")
                  span Цiни
              li.secondary-item 
                a(href="awards.html" data-animation2 data-text="Нагороди") 
                  span Нагороди
              li.secondary-item 
                a(href="documents.html " data-animation2 data-text="Документи")
                  span Документи
              
          li.section-main__item.margin-item
            h4(data-animation4) ОСОБЛИВОСТІ
            ul.secondary-list 
              li.secondary-item 
                a(href="benefits.html" data-animation3 data-text="Переваги")
                  span Переваги
              li.secondary-item 
                a(href="characteristics.html" data-animation3 data-text="Характеристики")
                  span Характеристики
              li.secondary-item 
                a(href="location.html" data-animation3 data-text="Розташування")
                  span Розташування
          li.section-main__item 
            a(href="building.html" data-animation4 data-text="Хiд будiвництва")
              span Хiд будiвництва
          li.section-main__item
            a(href="news.html" data-animation4 data-text="Новини та акції")
              span Новини та акції
          li.section-main__item
            a(href="contacts.html" data-animation4 data-text="Контакти")
              span Контакти

  +svg('logo-nice').logo-nice

  .contacts-menu 
    ul.social
      li.social__item
        a(href="#").social__link.facebook.js-social-hover
          .svg
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.15 73.31">
              <path class="cls-1" d="M34.85,15.52h1.8V1.23L35.11,1A75.35,75.35,0,0,0,26.19.5,15.58,15.58,0,0,0,14.44,5.23C11.52,8.37,10,12.89,10,18.45v7.81H.5V42.09H10V72.81H25.16V42.09H34l.19-1.6,1.44-12.21.24-2H25.15v-6.6a5.32,5.32,0,0,1,.66-3.19c.33-.43,1.06-.95,3.1-.95Z"/>
            </svg>
        .hover-text Facebook
      li.social__item
        a(href="#").social__link.instagram.js-social-hover
          .svg
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70.12 70.12">
              <rect class="cls-1" x="0.5" y="0.5" width="69.12" height="69.12" rx="21.25"/>
              <circle class="cls-1 cls-1-1" cx="35.06" cy="35.06" r="14.47"/>
              <circle class="cls-1 cls-1-1" cx="53.87" cy="15.2" r="5.73"/>
            </svg>
        .hover-text Instagram
      li.social__item
        a(href="#").social__link.youtube.js-social-hover
          .svg
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80.54 62.46">
              <path class="cls-1" d="M31.71,41,30.4,58.17a4.71,4.71,0,0,0,3.67-1.65L42.9,48.7,61.19,61.11c3.35,1.74,5.71.82,6.62-2.86l12-52.15h0C80.88,1.5,78-.3,74.75.83L4.2,25.88c-4.82,1.73-4.75,4.22-.82,5.35l18,5.2,41.9-24.31c2-1.21,3.76-.54,2.29.67Z"/>
            </svg>
        .hover-text Youtube
      li.social__item
        a(href="#").social__link.telegram.js-social-hover
          .svg
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.24 58.78">
              <rect class="cls-1" x="0.5" y="0.5" width="76.24" height="57.78" rx="15.4"/>
              <path class="cls-1 cls-1-1" d="M29.57,24.14v10.5a3.42,3.42,0,0,0,4.86,3.1l11.25-5.2a3.42,3.42,0,0,0,0-6.2L34.45,21.05A3.42,3.42,0,0,0,29.57,24.14Z"/>
            </svg>
        .hover-text Telegram
    ul.tel
      li.tel__item 
        a(href='tel:+380442229970').tel__link
          +svg('tel')
          |+38 (044) 222 99 70
      li.tel__item 
        a(href='tel:+380673135529').tel__link
           +svg('tel')
           | +38 (067) 313 55 29
    button.button.js-button.js-call 
      span Зворотній дзвінок




  
    //- .menu__social.menu__social-mobile
    //-   a(href="https://www.facebook.com/" target="_blank") facebook
    //-   a(href="https://www.instagram.com/" target="_blank") instagram
    //-   a(href="https://www.youtube.com/" target="_blank") youtube
    //-   .menu__social
    //-     a(href="https://www.facebook.com/" target="_blank") facebook
    //-     a(href="https://www.instagram.com/" target="_blank") instagram
    //-     a(href="https://www.youtube.com/" target="_blank") youtube