.building-popup(data-build-popup-container)(style="display: none;")
  .building-popup__container
    .building-popup__header
      a(href='index.html').header__logo
          +svg('logo')
      .burger(data-close-build-popup)
        span.burger__name Закрити
        .burger__icon
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="white" stroke-width="1.5"/>
          </svg>
    .popup-date-container
      .date(data-build-date) 18 
      .month(data-build-month) червня
      .year(data-build-year) 2021

    .building-popup__swiper-container
      .swiper-building.js-build-big
        .swiper-wrapper
          //- .swiper-slide
          //-   .swiper-slide__img
          //-     img(src="./assets/images/building/building-sw1.jpg", alt="")
          //- .swiper-slide
          //-   .swiper-slide__img
          //-     img(src="./assets/images/building/building-sw2.jpg")
          //- .swiper-slide
          //-   .swiper-slide__img
          //-     img(src="./assets/images/building/building-sw3.jpg", alt="")
          
        .swiper-btn-container
          .swiper-button-prev.building-prev
            +svg('gallery-prev')
          .swiper-button-next.building-next
            +svg('gallery-next')
          .swiper-bottom-container
            .swiper-building-bottom(thumbsSlider="").js-build-mini
              .swiper-wrapper(data-slides-wrap)
                //- .swiper-slide 
                //-   .swiper-slide__img 
                //-     img(src="./assets/images/building/building1.jpg")
                //- .swiper-slide 
                //-   .swiper-slide__img 
                //-     img(src="./assets/images/building/building2.jpg")
                //- .swiper-slide 
                //-   .swiper-slide__img 
                //-     img(src="./assets/images/building/building3.jpg")



.thanks-page(style="display: none;")
  h1 Дякуємо, Ваша заявка прийнята! 
  p Наш менеджер зв'яжеться з Вами найближчим часом
  a(href="index.html") На головну
  +svg('logo-nice')


.feedback-form(style="display: none;")
  .feedback-form__container
    h2 ЗАМОВИТИ ДЗВІНОК
    h3 Залиште свої контактні дані 
    .form-close.js-close
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="white" stroke-width="1.5"/>
      </svg>
    form( action="#" class="contact-form" data-home-contact)
      .form-field
        .form-field-input(data-field-input data-field-name data-status="field--inactive")
          label(for="callback-form-name") Ваше im’я
          input(class="input-sideform form-name form-field__input contact-form-input" type="text" name="name" id="callback-form-name" placeholder="Iм’я" autocomplete="on" value="")
          .input-message(data-input-message)
        .form-field-input(data-field-input data-field-phone data-status="field--inactive")
          label(for="callback-form-phone") Ваш телефон
          input(class="input-sideform form-tel form-field__input contact-form-input js-input-form" type="text" id="callback-form-phone"  autocomplete="on" name="phone" inputmode="tel")
          //- span.placeholder-form.js-placeholder-form Номер
          .input-message(data-input-message)
        .form-field-input(data-field-input data-field-email data-status="field--inactive")
          label(for="callback-form-email") Ваш E-mail
          input(class="input-sideform form-tel form-field__input contact-form-input js-input-form" type="text" id="callback-form-email" placeholder="E-mail" autocomplete="on" name="email" inputmode="email")
          //- span.placeholder-form.js-placeholder-form Номер
          .input-message(data-input-message)
        p.confirm-text Натискаючи на кнопку, Ви погоджуєтесь з обробкою персональних даних. 
        .form-field-confirm
          button(class="contact-form__btn" type="submit" data-btn-submit="data-btn-submit") 
            p Надіслати
            //- span(data-btn-submit-text="")

.video-popup(style="display: none;") 
  .video-popup__header 
    +svg('logo')
    .burger.js-close-video
      .burger__name Закрити
      .burger__icon
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 15L1 1M1 15L15 1L1 15Z" stroke="white" stroke-width="1.5"/>
        </svg>
  video(class="video2" loop controls preload="auto" muted width="100%" height="100%") 
    <source src="./assets/images/hello.mp4" type="video/mp4">