extends ../layout/main
block variable
  -
    var title_page = '404'
    var id_page = '404'
    var class_page = '404'
block meta
  title= '404'
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')

block content
  section.page404-wrap
    h1 404
    p Сторінка не знайдена. Неправильно набрана адреса або такої сторінки не існує
    a(href="index.html").js-button 
      span На головну
    +svg('logo-nice')


block header
  include ../includes/header.pug
