
extends ../layout/main
block variable
  -
    var title_page = 'Хід будівництва'
    var id_page = 'building'
    var class_page = 'building'
  block meta
  title= title_page
  meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
  script(defer src='./assets/scripts/vendors.bundle.js')
  script(defer src='./assets/scripts/index.bundle.js')
  script(defer src='./assets/scripts/libs.js')
  script(defer src='./assets/scripts/index.js')
  script(defer src='./assets/scripts/header.js')
  script(defer src='./assets/scripts/btn-up.js')
  script(defer src='./assets/scripts/building.js')
block content
  include ../includes/breadcrumbs.pug
  #building-page 
    h1 Хід будівництва
  .building-status 
    .building-status__text 
      .text 
        h4 Статус робіт:
        p Виконується монтаж ліфтів. Триває влаштування систем опалення, вентиляції, водопроводу, каналізації та електрики. Проходять фасадні роботи на торцях. Виконується влаштування утеплення на балконах.
      .text-section
        ul.section-list 
          li.section-item 
            h4 1 секція
            p 4 квартал 2020 року
          li.section-item 
            h4 2 секція
            p 1 квартал 2021 року
          li.section-item 
            h4 3 секція
            p 1 квартал 2021 року
    .building-status__percent
      //- ul.percent-list 
        li.percent-item 
          .svg
            .percent-circle.pc3(data-percent='74')
              svg
                use.percent-circle-inner(xlink:href="#percent-circle-svg")
            // hidden svg that we refer to
            svg.hidden
              circle(id="percent-circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")
          .text Фундамент
        li.percent-item 
          .svg
            .percent-circle.pc3(data-percent='25')
              svg
                use.percent-circle-inner(xlink:href="#percent-circle-svg")
            svg.hidden
              circle(id="percent-circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")
          .text Монолітний каркас
        li.percent-item 
          .svg
            .percent-circle.pc3(data-percent='15')
              svg
                use.percent-circle-inner(xlink:href="#percent-circle-svg")
            svg.hidden
              circle(id="percent-circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")
          .text Вікна
        li.percent-item 
          .svg
            .percent-circle.pc3(data-percent='62')
              svg
                use.percent-circle-inner(xlink:href="#percent-circle-svg")
            svg.hidden
              circle(id="percent-circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")
          .text Мережі
        li.percent-item 
          .svg
            .percent-circle.pc3(data-percent='17')
              svg
                use.percent-circle-inner(xlink:href="#percent-circle-svg")
            svg.hidden
              circle(id="percent-circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")
          .text Зовнішні стіни
        li.percent-item 
          .svg
            .percent-circle.pc3(data-percent='8')
              svg
                use.percent-circle-inner(xlink:href="#percent-circle-svg")
            svg.hidden
              circle(id="percent-circle-svg", cx="50%", cy="50%", r="50%", stroke-alignment="inner")
          .text Благоустрій
      ul.percent-list 
        li.percent-item 
          .percent-circle
            <svg class="btn-circle" viewBox="0 0 200 200">
              <circle class="circle-basis" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0"></circle>
              <circle class="circle-build" cx="100" cy="100" r="95" stroke-width="3" fill-opacity="0" stroke-dasharray="458, 150" ></circle>
            </svg>
            p.percent-text 74%
          .text Фундамент
        li.percent-item 
          .percent-circle
            <svg class="btn-circle" viewBox="0 0 200 200">
              <circle class="circle-basis" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0"></circle>
              <circle class="circle-build" cx="100" cy="100" r="95" stroke-width="3" fill-opacity="0" stroke-dasharray="150, 450" ></circle>
            </svg>
            p.percent-text 25%
          .text Монолітний каркас
        li.percent-item 
          .percent-circle
            <svg class="btn-circle" viewBox="0 0 200 200">
              <circle class="circle-basis" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0"></circle>
              <circle class="circle-build" cx="100" cy="100" r="95" stroke-width="3" fill-opacity="0" stroke-dasharray="100, 500" ></circle>
            </svg>
            p.percent-text 15%
          .text Вікна
        li.percent-item 
          .percent-circle
            <svg class="btn-circle" viewBox="0 0 200 200">
              <circle class="circle-basis" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0"></circle>
              <circle class="circle-build" cx="100" cy="100" r="95" stroke-width="3" fill-opacity="0" stroke-dasharray="350, 250" ></circle>
            </svg>
            p.percent-text 62%
          .text Мережі
        li.percent-item 
          .percent-circle
            <svg class="btn-circle" viewBox="0 0 200 200">
              <circle class="circle-basis" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0"></circle>
              <circle class="circle-build" cx="100" cy="100" r="95" stroke-width="3" fill-opacity="0" stroke-dasharray="100, 500" ></circle>
            </svg>
            p.percent-text 17%
          .text Зовнішні стіни
        li.percent-item 
          .percent-circle
            <svg class="btn-circle" viewBox="0 0 200 200">
              <circle class="circle-basis" cx="100" cy="100" r="95" stroke-width="2" fill-opacity="0"></circle>
              <circle class="circle-build" cx="100" cy="100" r="95" stroke-width="3" fill-opacity="0" stroke-dasharray="60, 550" ></circle>
            </svg>
            p.percent-text 8%
          .text Благоустрій
  .bottom-delimiter
  .building-filter
    button.building-filter__item.active(data-view="all") Всі
    button.building-filter__item(data-view="section1") 1 Секція
    button.building-filter__item(data-view="section2") 2 Секція
    button.building-filter__item(data-view="section3") 3 Секція
  ul.building-list(data-build-container)
    //- li.building-item.js-build-card.section1
      .building-item__info 
        .month Вересень
        .info-container
          p.foto 
            span.num 14
            | фото
          p.date
            span(data-build-date) 23
            span(data-build-month) 01
            span(data-build-year) 2022
      .building-item__img 
        img(src="./assets/images/building/building-sw1.jpg", alt="")
        +svg('logo-hover')
    //- li.building-item.js-build-card.section2
      .building-item__info 
        .month Вересень
        .info-container
          .foto 
            .num 14
            .text фото
          p.date
            span(data-build-date) 23
            span(data-build-month) 01
            span(data-build-year) 2022
      .building-item__img 
        img(src="./assets/images/building/building-sw1.jpg", alt="")
        +svg('logo-hover')
    //- li.building-item.js-build-card.section3
      .building-item__info 
        .month Вересень
        .info-container
          .foto 
            .num 14
            .text фото
          p.date
            span(data-build-date) 23
            span(data-build-month) 01
            span(data-build-year) 2022
      .building-item__img 
        img(src="./assets/images/building/building-sw1.jpg", alt="")
        +svg('logo-hover')
    //- li.building-item.js-build-card.section1
      .building-item__info 
        .month Вересень
        .info-container
          .foto 
            .num 14
            .text фото
          p.date
            span(data-build-date) 23
            span(data-build-month) 01
            span(data-build-year) 2022
      .building-item__img 
        img(src="./assets/images/building/building-sw1.jpg", alt="")
        +svg('logo-hover')
    //- li.building-item.js-build-card.section3
      .building-item__info 
        .month Вересень
        .info-container
          .foto 
            .num 14
            .text фото
          p.date
            span(data-build-date) 23
            span(data-build-month) 01
            span(data-build-year) 2022
      .building-item__img 
        img(src="./assets/images/building/building-sw1.jpg", alt="")
        +svg('logo-hover')
    //- li.building-item.js-build-card.section1
      .building-item__info 
        .month Вересень
        .info-container
          .foto 
            .num 14
            .text фото
          p.date
            span(data-build-date) 23
            span(data-build-month) 01
            span(data-build-year) 2022
      .building-item__img 
        img(src="./assets/images/building/building-sw1.jpg", alt="")
        +svg('logo-hover')

  button.building__button(data-build-load-more)
    span Більше звітів
  .bottom-delimiter
block footer
  include ../includes/footer.pug

block header
  include ../includes/header.pug
