.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 100%;
  color: $black;
  z-index: 1;
  margin: calc(var(--header-h) + 50px) var(--padding) 20px var(--padding);
  @include to(1440px) {
    font-size: 16px;
    margin: calc(var(--header-h) + 30px) var(--padding) 15px var(--padding);
  }
  @include to(575px) {
    font-size: 14px;
    margin: calc(var(--header-h) + 30px) var(--padding) 10px var(--padding);
  }
  &-item {
    cursor: pointer;
    &::before {
      content: '';
      display: inline-block;
      background-image: url('../images/h.svg');
      background-repeat: no-repeat;
      background-size: cover;
      width: 16px;
      height: 16px;
      margin: 0px 15px;
      @include to(1440px) {
        width: 12px;
        height: 12px;
      }
      @include to(575px) {
        margin: 0px 10px;
      }
    }
    &__current::after {
      display: initial;
      margin: 0;
    }
    &__link {
      text-decoration: none;
      font-size: 18px;
      line-height: 100%;
      color: $green;
      @include to(1440px) {
        font-size: 16px;
      }
    }
    &:first-child::before {
      display: none;
    }
    // &:last-child {
    //   display: initial;
    //   white-space: nowrap;
    //   overflow: hidden;
    //   text-overflow: ellipsis;
    //   max-width: 510px;
    //   @include to(992px) {
    //     max-width: 310px;
    //   }
    //   @include to(575px) {
    //     max-width: 111px;
    //   }
    // }
    &:nth-child(3) {
      display: initial;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 510px;
      @include to(992px) {
        max-width: 310px;
      }
      @include to(575px) {
        max-width: 111px;
      }
    }
  }
}
