.menu {
  height: 100%;
  width: 100%;
  position: relative;
  &-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: url('../images/menu-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s ease-out, visibility 1ms linear 0.5s;
    @include to(992px) {
      overflow-y: scroll;
    }
    &.menu__active {
      transition: opacity 0.5s ease-in, visibility 1ms linear;
      visibility: visible;
      opacity: 1;
      pointer-events: painted;
    }
  }
  &__top {
    height: var(--header-h);
    width: 100%;
    padding: 0 var(--pad-h);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    // @include to(1440px) {
    //   margin-top: 20px;
    // }
    .burger:hover {
      @include from(992px) {
        .burger__icon svg {
          animation: rotate-center 0.6s ease-in-out;
        }
      }
    }
    .burger__icon::before {
      display: none;
    }

    .burger__icon svg {
      @include to(992px) {
        width: 9px;
        height: 9px;
      }
    }
  }
  &__right {
    display: flex;
    .menu__call {
      display: none;
      @include to(575px) {
        display: flex;
        width: 42px;
        height: 42px;
        margin-right: 10px;
      }
    }
  }
  // a {

  // @include to(1440px) {
  //   font-size: 14px;
  //   margin-right: clamp(20px, 12%, 80px);
  // }
  // @include to(992px) {
  //   font-size: 18px;
  // }
  // @include to(576px) {
  //   font-size: 10px;
  // }
  // }
}

.menu__section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include to(992px) {
    margin-top: 80px;
  }
  @include to(575px) {
    margin-top: 24px;
  }
}
.section-main__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  @include to(1440px) {
    margin-bottom: 30px;
  }
  @include to(992px) {
    margin-bottom: 40px;
  }
  @include to(575px) {
    margin-bottom: 30px;
  }
  a {
    @include menu-text-b;
    width: max-content;
    margin: 0 auto;
    @include hover-menu;
  }
  a ~ .secondary-list {
    margin-top: 20px;
  }
  h4 {
    @include menu-text-b;
  }
  h4 ~ .secondary-list {
    margin-top: 20px;
    @include to(992px) {
      margin-top: 40px;
    }
    @include to(575px) {
      margin-top: 20px;
    }
  }
}
.secondary-list {
  display: flex;
  align-items: center;
  justify-content: center;
  @include to(992px) {
    flex-wrap: wrap;
    max-width: 490px;
  }
  @include to(575px) {
    flex-direction: column;
  }
}
.secondary-item {
  margin-right: 50px;
  @include to(1440px) {
    margin-right: 30px;
  }
  @include to(992px) {
    margin-bottom: 40px;
    margin-right: 60px;
  }
  @include to(575px) {
    margin-bottom: 20px;
    margin-right: 0;
  }
  &:last-child {
    margin-right: 0;
  }
  a {
    @include menu-text-s;
    @include hover-menu-s;
  }
}
.margin-item {
  @include to(992px) {
    margin-bottom: 0;
  }
}
.logo-nice {
  position: absolute;
  width: 265px;
  height: 66px;
  bottom: 50px;
  // right: var(--pad-h);
  right: 0;
  @include to(1440px) {
    width: 194px;
    height: 49px;
  }
  @include to(992px) {
    position: fixed;
  }
  @include to(575px) {
    display: none;
  }
}
.contacts-menu {
  position: absolute;
  bottom: 50px;
  left: var(--pad-h);
  display: flex;
  flex-direction: column;
  @include to(992px) {
    position: fixed;
  }
  @include to(575px) {
    bottom: 20px;
  }
  .social {
    display: flex;
    flex-direction: column;
    width: max-content;
    &__item {
      margin-bottom: 20px;
      // cursor: pointer;
      // height: 65px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-shrink: 0;
      @include to(1440px) {
        margin-bottom: 15px;
      }
      @include to(575px) {
        margin-bottom: 10px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      .svg {
        width: 65px;
        height: 65px;
        border: 1px solid #292935;
        border-radius: 50%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        @include to(1440px) {
          width: 50px;
          height: 50px;
        }
        @include to(575px) {
          width: 42px;
          height: 42px;
        }
        &:hover {
          @include from(992px) {
            background: #292935;
            svg {
              fill: #ffffff;
              .cls-1 {
                fill: #ffffff;
                // stroke: #ffffff;
              }
              .cls-1-1 {
                fill: #292935;
                // stroke: #ffffff;
              }
            }
          }
        }
      }
      .facebook {
        svg {
          width: 9px;
          height: 19px;
          @include to(992px) {
            width: 7px;
            height: 15px;
          }
          @include to(575px) {
            width: 6px;
            height: 12px;
          }
        }
      }
      .instagram {
        svg {
          width: 19px;
          height: 19px;
          @include to(992px) {
            width: 15px;
            height: 15px;
          }
          @include to(575px) {
            width: 12px;
            height: 12px;
          }
        }
      }
      .youtube,
      .telegram {
        svg {
          width: 22px;
          height: 17px;
          @include to(992px) {
            width: 17px;
            height: 13px;
          }
          @include to(575px) {
            width: 14px;
            height: 11px;
          }
        }
      }
    }
    &__link {
      display: flex;
      align-items: center;
      // cursor: none;

      svg {
        stroke-width: 3px;
        fill: none;
        stroke: #292935;
        stroke-width: 3px;
        transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        cursor: pointer;
      }
    }
    .hover-text {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 16px 20px;
      background: #292935;
      border-radius: 10px;
      font-size: 14px;
      line-height: 1.4;
      color: #ffffff;
      margin-left: 12px;
      position: relative;
      opacity: 0;
      transition: opacity 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
      pointer-events: none;
      cursor: none;
      @include to(1440px) {
        padding: 12px 15px;
      }
      &::after {
        content: '';
        background-image: url('../images/triangle.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        transform: rotate(-180deg);
        width: 7px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: -6px;
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }
  .button {
    @include btn;
    @include oval-hover;
    margin-top: 20px;
    @include to(1440px) {
      width: 240px;
      margin-top: 15px;
    }
    @include to(575px) {
      display: none;
    }
    span {
      z-index: 5;
    }
  }
}

.tel {
  margin-top: 118px;
  @include to(1440px) {
    margin-top: 40px;
  }
  @include to(575px) {
    display: none;
  }
  &__item {
    margin-bottom: 10px;
    width: max-content;
    &:last-child {
      margin-bottom: 0;
    }
    @include to(992px) {
      margin-bottom: 5px;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #292935;
    @include hover-line;
    @include to(1440px) {
      font-size: 18px;
    }
    svg {
      width: 18px;
      height: 18px;
      margin-right: 15px;
      fill: #292935;
      @include to(1440px) {
        width: 14px;
        height: 14px;
        margin-right: 10px;
      }
    }
  }
}
